@charset "EUC-KR";

html {
	width: 99.5%;
	height: 95%;
}

table {
	border-collapse: collapse;
}

.main_div {
    width: 50%;
    height: 50%;
	margin: auto;
}

.main_button {
	width: 100%;
	height: 50px;
    margin-top: 150px;
}

.div_80 {
	width: 80%;
	height: 100%;
	margin: auto;
}

.subject {
    width: 100%;
    height: 30px;
    border: none;
}

.date {
    width: 100%;
    height: 30px;
    border: none;
    text-align: center;
}

.contents {
	width: 100%;
    height: 500px;
    padding: 0px;
    border: none;
}

.edit_button {
	float: right;
}

.list_table {
	width: 100%;
	height: 500px;
}

.list_table tr td {
	border: 1px solid black;
	padding: 5px 15px 5px 15px;
}

.list_table tr th {
	border: 1px solid black;
}

.detail_table {
	width: 100%;
	margin-bottom: 30px;
}

.detail_table tr td {
	border: 1px solid black;
}
