@charset "EUC-KR";

html {
	width: 99.5%;
	height: 95%;
}

.main_div {
	margin: auto;
    width: 50%;
    height: 50%;
}

.main_button {
	width: 100%;
	height: 50px;
    margin-top: 150px;
}